# --- Django - Python ---
api/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
db.sqlite3

# Archivos estáticos / multimedia
api/media/
api/staticfiles/


# --- Node - React ---
client/node_modules/
client/dist/
client/build/


# --- Sistema - IDE ---
.DS_Store
.idea/
.vscode/